@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #476BFA;
  --background-light: #DADFF2;
  --secondary-color: #F1EBFF;
  --neutral-color: #4B4C52;
  --text-dark: #04124D;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1440px;
  width: 100%;
}
.cropper-container {
  width: 100% !important;
}
